@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

.fit-width {
  @media (min-width: 1280px) {
    padding-left: calc((100% - 72rem) / 2) !important;
    padding-right: calc((100% - 72rem) / 2) !important;
  }
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
}

/* To hide the scrollbar on right side */
.hide-scroller {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* loading skeleton's text */
@layer components {
  .text-skeleton {
    @apply h-3 animate-pulse rounded-3xl bg-slate-300;
  }
}

/* page changing animation */
.animate-wiggle {
  animation: wiggle 0.8s;
}

@keyframes wiggle {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
